<h2>Transaction detail</h2>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Raw Json</h3>
  </div>
  <div class="panel-body">
    <pre id="raw">
        <%= @raw %>
    </pre>
  </div>
</div>
</ul>

<%= link "Back to transactions", to: transaction_path(@conn, :index) %>
